<h1 style="text-align: center;">Welcome to the games crud server</h1>
<div class="container">
    <p class="h6">Here you can find details about the api for the gamescrud web app and other stuff</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">API route</th>
                <th scope="col">Use</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">GET /api/games/</th>
                <td>get all the games</td>
            </tr>
            <tr>
                <th scope="row">GET /api/games/:id</th>
                <td>get a game with specific ID</td>
            </tr>
            <tr>
                <th scope="row">GET /api/games/page/:pagenumber</th>
                <td>get all the games at a specific page number with 10 games per page</td>
            </tr>
            <tr>
                <th scope="row">POST /api/games/</th>
                <td>add a game</td>
            </tr>
            <tr>
                <th scope="row">PUT /api/games/:id</th>
                <td>edit a game</td>
            </tr>
            <tr>
                <th scope="row">DELETE /api/games/:id</th>
                <td>delete a game</td>
            </tr>
        </tbody>
    </table>
</div>